* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  z-index: 2;
}
.logo-box {
  padding-left: 6vw;
  display: flex;
  flex-wrap: wrap;
}
.logo {
  width: 52px;
  height: 50px;
  float: left;
  padding: 2px;
}
.logo-name {
  padding: 7px;
  align-items: center;
  justify-content: center;
}

.main-list {
  float: right;
  width: 70vw;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-right: 7vw;
}
.list-con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
}
.menu-drawer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.other-menu {
  font-size: 35px;
  color: orange;
  padding-left: 15px;
  padding-right: 15px;
}
svg {
  font-size: 30px;
}
/* home-page css */
.home-page {
  display: flex;
  justify-content: space-evenly;
  background: transparent url("HomePage.png") 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover;
  top: 70px;
  left: 0px;
  width: 100vw;
  height: 95vh;
  opacity: 1;
}
.home-link {
  left: 160px;
  font: 17px;
  font-weight: 600;
  padding-top: 20px;
  padding-left: 10vw;
  text-align: left;
  letter-spacing: 0px;
  color: #1a1c80;
  opacity: 1;
}
.home-main {
  top: 20vw;
  width: 40vw;
  left: 50%;
  display: flex;
  padding-left: 5vw;
  flex-direction: column;
  justify-content: center;
}
.home-conatiner-1 {
  align-items: center;
  justify-content: center;
  top: 25vw;
  left: 60vw;
  width: 364px;
  height: 102px;
  font-size: 37px;
  font-weight: 600;
  color: #1a1c80;
  opacity: 1;
}
.home-conatiner-2 {
  top: 357px;
  left: 786px;
  width: 244px;
  height: 70px;
  font-size: 20px;
  color: #1a1c80;
  opacity: 1;
  font-family: "Roboto Slab", serif;
}
.trust-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}
.header-container {
  color: #1a1c80;
  overflow-y: hidden;
  font-size: 50px;
  margin: 25px;
}
.trust-page-para {
  color: black;
  font-size: 20px;
  left: 298px;
  width: 700px;
  height: 208px;
}
.app-details-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 7vw;
  height: 100vh;
}
.app-details-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f0f0f0;
  margin-left: 7vw;
  margin-right: 7vw;
  padding: 5vw;
  height: 100vh;
}
.app-details-1Img1 {
  width: 50vw;
  align-items: center;
  justify-content: flex-end;
}
.know-more {
  overflow-y: hidden;
  text-align: right;
  margin-top: 15px;
}
.know-more-2 {
  overflow-y: hidden;
  text-align: left;
  margin-top: 15px;
}
.data-container {
  overflow-y: hidden;
  text-align: right;
  color: black;
  letter-spacing: 0.7px;
}
.data-container-2 {
  overflow-y: hidden;
  text-align: left;
  color: black;
  letter-spacing: 0.7px;
}
.header-style {
  overflow-y: hidden;
  text-align: right;
}
.header-style2 {
  overflow-y: hidden;
  text-align: left;
}
.manufact-container {
  display: flex;
  width: 25vw;
  margin-right: 10vw;
  flex-direction: column;
  color: #1a1c80;
}
.back-top {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70px;
  font-size: 14px;
  color: #838383;
  background-color: #f0f0f0;
  margin-top: 20px;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 165px;
  padding-right: 20vw;
  background-color: #1a1c80;
}
.logo-box-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-2 {
  width: 54px;
  height: 52px;
  float: left;
  padding: 2px;
}
.footer-name {
  padding: 2px;
  padding-left: 10px;
  color: white;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3vw;
}
.footer-item {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.rights {
  color: #838383;
  font-size: 12px;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 851px) {
  .home-page {
    display: flex;

    justify-content: space-evenly;
    background: transparent url("HomePage.png") 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: cover;
    top: 70px;
    left: 0px;
    width: 100vw;
    height: 95vh;
    opacity: 1;
  }
  .home-link {
    left: 160px;
    font: 17px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 10vw;
    text-align: left;
    letter-spacing: 0px;
    color: #1a1c80;
    opacity: 1;
  }
  .home-main {
    top: 20vw;
    width: 40vw;
    left: 50%;
    display: flex;
    padding-left: 5vw;
    flex-direction: column;
    justify-content: center;
  }
  .home-conatiner-1 {
    align-items: center;
    justify-content: center;
    top: 25vw;
    left: 60vw;
    width: 364px;
    height: 102px;
    font-size: 37px;
    font-weight: 600;
    color: #1a1c80;
    opacity: 1;
  }
  .home-conatiner-2 {
    top: 357px;
    left: 786px;
    width: 244px;
    height: 70px;
    font-size: 20px;
    color: #1a1c80;
    opacity: 1;
    font-family: "Roboto Slab", serif;
  }
  .trust-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
  }
  .header-container {
    color: #1a1c80;
    overflow-y: hidden;
    font-size: 50px;
    margin: 25px;
  }
  .trust-page-para {
    color: black;
    font-size: 20px;

    left: 298px;
    width: 700px;
    height: 208px;
    /* overflow-y: hidden; */
  }
  .app-details-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 7vw;
    height: 100vh;
  }
  .app-details-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    margin-left: 7vw;
    margin-right: 7vw;
    padding: 5vw;
    height: 100vh;
  }
  .manufact-img {
    width: 470px;
    height: 277px;
    margin-left: 8vw;
  }
  .manufact-container {
    display: flex;
    width: 25vw;
    margin-right: 10vw;
    flex-direction: column;
    color: #1a1c80;
  }
  .back-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70px;
    font-size: 14px;
    color: black;
    background-color: #f0f0f0;
    margin-top: 20px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 165px;
    padding-right: 20vw;
    background-color: #1a1c80;
  }
  .logo-box-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .logo-2 {
    width: 54px;
    height: 52px;
    float: left;
    padding: 2px;
  }
  .footer-name {
    padding: 2px;
    padding-left: 10px;
    color: white;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3vw;
  }
  .footer-item {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .rights {
    color: #838383;
    font-size: 12px;
  }

  .menu-drawer {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  /* home-page css */
  .home-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: transparent url("HomePage.png") 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: cover;
    top: 70px;
    left: 0px;
    width: 100vw;
    height: 92vh;
    opacity: 1;
  }
  .home-link {
    font: 17px;
    font-weight: 600;
    padding-top: 20px;
    text-align: left;
    letter-spacing: 0px;
    color: #1a1c80;
    opacity: 1;
  }
  .home-main {
    top: 20vw;
    width: 100vw;
    left: 50%;
    display: flex;
    padding-left: 5vw;
    flex-direction: column;
    justify-content: center;
  }
  /* trust page css */
  .trust-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
  }
  .header-container {
    color: #1a1c80;
    overflow-y: hidden;
    font-size: 30px;
    margin: 20px;
  }
  .trust-page-para {
    color: black;
    font-size: 14px;
    width: 80vw;
    height: 70vw;
  }
  .app-details-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .app-details-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    height: 100vh;
  }
  .app-details-1Img1 {
    width: 90vw;
  }
  .manufact-img {
    width: 100%;
  }
  .manufact-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    color: #1a1c80;
  }
  .back-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70px;
    font-size: 14px;
    color: black;
    background-color: #f0f0f0;
    margin-top: 20px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color: #1a1c80;
  }
  .logo-box-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .logo-2 {
    width: 54px;
    height: 52px;
    float: left;
    padding: 2px;
  }
  .footer-name {
    padding: 2px;
    padding-left: 10px;
    color: white;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3vw;
  }
  .footer-item {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .rights {
    color: #838383;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20vw;
  }
  .header-style {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .data-container {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .header-style2 {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .data-container-2 {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8vw;
  }
  .menu-drawer {
    padding-right: 8vw;
  }
  .main-list {
    display: none;
  }
}
